<section class="form-wrapper">
  <div class="form-content">
    <img src="home-instagram.svg" alt="instagram-logo" width="70" height="70" />
    <h3>Welcome back</h3>
    <span class="login-header-text"
      >Please enter your details to access your account</span
    >

    <app-spinner *ngIf="loading()"></app-spinner>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-custom-input-field
        label="Email"
        type="email"
        placeholder="Enter your email"
        [control]="email"
      />

      <app-custom-input-field
        label="Password"
        type="password"
        [control]="password"
        placeholder="Enter your password"
      />

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
    </form>

    <p class="sign-up-text">
      Don't have an account? <a routerLink="/auth/register">Sign up for free</a>
    </p>
  </div>

  <p class="copyright">
    &copy; {{ currentYear }} INSTAGRAM. All rights reserved.
  </p>
</section>
