<section class="form-wrapper">
  <div class="bg-wrapper">
    <div class="has-account">
      <h3>Already Signed up ?</h3>
      <span
        >Log in to your account to continue enjoy the features of the
        agent</span
      >
      <button class="btn-secondary" routerLink="/auth/login">Log In</button>
    </div>
  </div>

  <div class="content">
    <app-spinner *ngIf="loading()"></app-spinner>

    <h1>Sign Up</h1>

    <span class="header-text"
      >Let's get you all set up so you can start creating your first onboarding
      experience</span
    >

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="name-info">
        <app-custom-input-field
          label="First name"
          placeholder="Enter your first name"
          [control]="firstName"
        />
        <app-custom-input-field
          label="Last name"
          placeholder="Enter your last name"
          [control]="lastName"
        />
      </div>
      <app-custom-input-field
        label="Email"
        type="email"
        placeholder="Enter your email"
        [control]="email"
      />
      <app-custom-input-field
        label="Password"
        type="password"
        placeholder="Enter your password"
        [control]="password"
      />
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Sign up
      </button>
    </form>
  </div>
</section>
