/* post-detail-modal.component.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.post-img,
video {
  display: none;
}

.showVid {
  display: block;
  max-width: 470px;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1001;
  border-radius: 10px;
  max-width: 75%;
  max-height: 90%;
  height: 100%;
  width: 100%;
  display: flex;

  .post-image {
    max-width: 100%;
    width: 57%;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }

    video {
      display: block;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .post-details {
    width: 43%;
    display: flex;
    flex-direction: column;

    .post-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 7px;
      gap: 10px;
      border-bottom: 1px solid #ddd;
    }

    .content-area {
      flex-grow: 1;
      overflow-y: auto;
      padding: 1rem;
      font-size: 14px;
      // background: red;

      &::-webkit-scrollbar {
        display: none;
      }

      .post-owner {
        display: flex;
        align-items: center;
        gap: 7px;
      }

      .comment-card {
        display: flex;
        margin-top: 5px;
        align-items: center;
        gap: 10px;

        .post-text {
          opacity: 0.8;
          font-size: small;
        }
      }
    }

    .post-footer {
      flex-shrink: 0;
      border-top: 1px solid #ddd;

      .likes {
        padding: 0.7rem;

        .like-icons {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .like-info {
          p {
            font-weight: 500;
          }
          span {
            display: block;
            opacity: 0.6;
            font-size: 12px;
          }
        }
      }
    }
    .comment-wrapper {
      width: 100%;
      border-top: 1px solid #ddd;
      padding: 0.7rem;
    }
    .add-comment-input {
      border: none;
      display: block;
      padding-block: 10px;
      outline: none;
      background-color: transparent;
      width: 100%;
    }
  }
}
