@import "../../../styles.scss";

.profile-wrapper {
  max-width: 900px;
  margin-inline: auto;
  padding-top: 20px;

  .container {
    @include flex-center(row, center, 50px);
    padding-bottom: 60px;
    .avatar {
      padding-top: 30px;
    }

    .profile-details-header {
      flex-grow: 1;

      b {
        font-weight: 600 !important;
      }

      h2 {
        font-size: 1.2rem;
      }

      .profile-numbers {
        max-width: 55%;
        @include flex-center(row, center, 0);
        margin-block: 15px;
        font-size: 15px;
        justify-content: space-between;
      }
      .full-name {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 5px;
    margin-top: 5px;

    &::before {
      content: "";
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    & > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
}
