// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$instagram-clone-angular-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($instagram-clone-angular-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($instagram-clone-angular-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($instagram-clone-angular-theme);

$font-family-base: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Roboto",
  "Droid Sans", "Helvetica", "Arial", sans-serif;
$font-size-base: 1rem;
$primary-color: #0066ff;
$line-height-base: 1.5;
$body-bg: #ffffff;
$body-color: #212529;
$border-color: #c2c3c4;
$fw-bold: 700;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $body-bg;
  color: $body-color;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

@mixin flex-center($direction: column, $align: flex-start, $gap: 12px) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  gap: $gap;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.8rem 1.7rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &-primary {
    color: $body-bg;
    background-color: $primary-color;
    border-color: $primary-color;

    &:disabled {
      border-color: $border-color;
      background-color: $border-color;
      cursor: not-allowed;
    }
  }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: $body-bg;
  border-radius: 10px;
  border-color: $body-bg;
}

.fs-f {
  font-size: clamp(1.3rem, 5vw, 2.25rem);
  font-weight: $fw-bold;
}
.fs-250 {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.fs-200 {
  font-size: clamp(1rem, 2vw, 1.025rem);
  margin-block: .6rem;
}
